<!DOCTYPE html>
<html>
<head>
  <title>Art with a Heart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class= navbar navbar-fixed-top>
<div class= navbar-inner>
<div class= container>
<%= link_to 'Art with a Heart', 'home' %>
<nav>
<ul class= nav pull-right>
<li><%= link_to 'Home', 'home' %></li>
<li><%= link_to 'Painting', 'painting' %></li>
<li><%= link_to 'Artist', 'artist' %></li>
<li><%= link_to 'Ngo', 'ngo' %></li>
<li><%= link_to 'About Us', 'aboutus' %></li>
</ul>
</nav>
</div>
</div>
<div class= container>
<%= yield %>
<%= yield(:list) %>
<%= yield(:tags) %>
</div>
</h1>
</body>
</html>
